body{font-family: Arial, Helvetica, sans-serif; font-size:20px;
	background:linear-gradient(135deg, #85e0e0 0%,  #33ccff 75%); height:100%;}

#center {position:fixed;top:50%;left:50%;margin-top: -200px;margin-left: -150px;width:300px; height:400px;}

#content {margin: auto;
	width:800px;}

#bottom {position:fixed;bottom:5px;left:5px; font-size:17px;}

input[type=text], input[type=password] {
    width: 100%;
	background-color: #00000000;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 0px;
	font-size: 20px;
	border-bottom: 1px solid #eee;
    box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus {
	background-color: #00bfff33;
	border-bottom: 2px solid #eee;
}


input[type=submit] {
    width: 100%;
    background-color: #4dd2ff00;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
	font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
	border: 1px solid #00bfff;
}

input[type=submit]:hover {
    background-color: #00bfff;
}

input[type=submit]:disabled {
    background-color: #55bfff55;
	color:#ffffff55;
	border:0px;
	cursor: not-allowed;
}

a {
	text-decoration: none;
	}
	